@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-color: #fff;
  opacity: 0.8;
  background-image: linear-gradient(#eeeeee 2px, transparent 2px),
    linear-gradient(90deg, #eeeeee 2px, transparent 2px),
    linear-gradient(#eeeeee 1px, transparent 1px),
    linear-gradient(90deg, #eeeeee 1px, #f3f3f6 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.title {
  background: #cf6315;
  background: linear-gradient(to right, #cf6315 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* custom styles */
.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}
.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* form component styles */

.form_label {
  @apply text-sm text-gray-500;
}

.form_button {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-white bg-gradient-to-r from-[#cf6315] to-[#cf1512] outline-0;
}
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0 bg-white;
}

.bg-primary {
  @apply bg-gradient-to-r from-[#cf6315] to-[#cf1512];
}
